h3 {
    color:#555555;
    font-size:10pt;
    font-weight:bold;
    padding:5px 0 5px 10px;
	font-family:Arial, Helvetica, sans-serif;
}

table.form > tbody > tr > td {
    padding:4px 0px 2px 4px;
   }
table.form, table.buttons {
   /*width:89%;*/
	width:96%;
    font-size: 9pt;
	margin-top: 0px;
    margin-left:0px;
}

.replacedInstalledPartsWidgetDiv,select {
	border: 1px solid #EFEBF7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    padding: 1px;
    width:auto;
}

input, input.dojoComboBox, textarea, select {
    border:1px solid #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    padding: 1px;
}

input[type='checkbox'], .checkbox,input[type='radio']{
    border: none;
}

.repeat_del, .nList_delete {
    background: url("../../../image/remove.gif") no-repeat center;
    height:16px;
    width:16px;
    cursor:pointer;
}
.repeat_add, .nList_add {
background: url("../../../image/addRow_new.gif") no-repeat center;
width:52px;
height:16px;
cursor:pointer;
}

.nList_add {
    float: right;
    padding-right: 10px;
}

.attachFile{
background:url("../../../image/attachButton.gif") no-repeat center;
width:52px;
height:16px;
}
.datePickerContainer {
    font-size: 14px;
}

#widget_itemAutocompleter_dropdown {
	z-index: 1001 !important;
	}
table.repeat {
   /* margin: 5px;*/
   padding-bottom:5px;
   margin-bottom:15px; 
		
}

table.repeat td, table.repeat th {
   
    padding: 2px;
	font-weight:400;
}

table.repeat_dcap {
    margin: 5px;
  
    align: left;
}

table.repeat_dcap td, table.repeat_dcap th {
   
    padding: 2px;
}

.repeat_add_dcap {
    background: url("../../../image/addRow_new.gif") no-repeat center;
    height: 15px;
}

table.form_dcap {
    width: 96%;
    font-size: 7.5pt;
    margin-left: 5px;
    margin-bottom: 5px;
    
}

label {
    color: #545454;
    font-weight: normal;
}
.borderForTable{
border:1px solid #EFEBF7;
}

.selectboxWidth{
width:178px;
}