Hello <b></b>Fleet Valued Customer,<br/><br/>
Notification - Quote number ${quote.quoteNumber} has been created and is ready for disposition.Please<br/><br/>
find the quote details in the attached document.Should you wish to request revision please log <br/><br/>
into SLMS.com,search for the quote and request revisions in the applicable text field.<br/><br/>

Warmest regards,<br/><br/>
NMHG Fleet Management
<br/><br/>
The information contained in this email and corresponding attachments is CONFIDENTIAL and exclusively intended for use by the recipient. 
It may not be shared with any third party without the prior written consent of NMHG. If you have received this in error,
please delete immediately and notify the sender. Thank you in advance for your cooperation.		
