.odd {
	background-color: #efefef;
	width: 960px;
	/* border: 1px solid #999999; */
}

.even {
	background-color: #ffffff;
	width: 960px;
	/* border: 1px solid #999999; */
}

.contractBorder {
	background-color: #BFBFBF;
	border: 0 none;
	color: #BFBFBF;
	height: 1px;
	width: 960px;
}

.customerLabelStyle {
	color: #545454;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	width: 200px;
	padding-left: 20px;
}

.customerCellDivHeader {
	border-right: 1px solid #efefef;
	display: table-cell;
	padding: 1px;
	text-align: center;
	width: 120px;
}

.customerCellDiv {
	border-right: 1px solid #d4d4d4;
	display: table-cell;
	text-align: center;
	border-bottom: none;
	width: 119px;
}

.cellInputStyle {
	margin-bottom: 2px;
	margin-top: 2px;
	width: 100px;
}

.yesOrNoRadioStyle {
	color: #545454;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	width: 220px;
}

.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 958px;
	height: 150px;
}

.subSection {
	font-weight: bold;
	text-decoration: underline
}

.sectionSpacerHeight {
	height: 10px;
}

.radiobuttonSpacing {
	width: 170px;
}

.centered {
	margin: 0 auto;
	text-align: left;
	width: 500px;
}

.loadingCentered {
	width: 36px;
	padding-left: 504px;
	padding-bottom: 0px;
	margin-top: 300px;
}

.contractLabelStyle {
	color: #545454;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 700;
	width: 200px;
}

.showErrorMessage {
	color: red;
	margin-top: 10px;
	padding: 2px;
	font-style: italic;
}

.nglocationGrid {
	height: 235px !important;
	border: 1px solid rgb(212, 212, 212);
}