.batteryTestSheet, .batteryTestSheetModify {
	background-image: url(../../../image/enterBatteryTest.gif);
	background-repeat: no-repeat;
	width: 150px;
	height: 16px;
	margin: 5px;
	padding: 0px;
	border: 0px;
    cursor: pointer;
}

.batteryTestSheet {
	/*display: none;*/
}

.batteryTestSheetPopup {
	width: 800px;
	height: 400px;
	border: 3px;
	border-top: none !important;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}