.buttonWrapperPrimary {
padding-top:7px;
padding-bottom:7px;
text-align:center;
}

.buttonGeneric {
background:transparent url(../../../image/buttonBg_new.gif) repeat-x scroll left center;
border:1px solid #CCCCCC;
color:#666666;
cursor:pointer;
font-family:Arial,Verdana,sans-serif,Helvetica;
font-size:7.5pt;
font-style:normal;
overflow:visible;
}

input,select {
border:1px solid #CCCCCC;    
font-family:Arial,Verdana,sans-serif,Helvetica;
font-size:8pt;
text-align:left;
margin-top:2px;
margin-bottom:2px;
}